{% extends "layout.html" %}
{% block content %}


<!--Carousel showing the images of food-->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{{foodlist['Mcdonalds'][1]}}">
        <img src="/static/images/foods/Mcdonalds - food.jpg" class="d-block w-100" alt="McDonalds">
      </a>
    </div>
    <div class="carousel-item">
      <a href="{{foodlist['Olive Garden'][1]}}">
        <img src="/static/images/foods/Olive garden - food.jpeg" class="d-block w-100" alt="Olive garden">
      </a>  
    </div>
    <div class="carousel-item">
      <a href="{{foodlist['Panda Express'][1]}}">
        <img src="/static/images/foods/panda express - food.jpg" class="d-block w-100" alt="Panda express">
      </a>  
    </div>
    <div class="carousel-item">
      <a href="{{foodlist['Panera Bread'][1]}}">
        <img src="/static/images/foods/panera bread - food.jpg" class="d-block w-100" alt="panera bread">
      </a>
    </div>
    <div class="carousel-item">
      <a href="{{foodlist['Taco Bell'][1]}}">
        <img src="/static/images/foods/taco bell - food.jpg" class="d-block w-100" alt="taco bell">
      </a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Buttons to redirect user to the core features -->
<section class="bg-gray py-2 py-lg-3 py-xl-4 py-xxl-5" id="landings">
  <div class="container mt-1 mb-2 mt-sm-2 mb-sm-3 mt-md-3 mb-md-4 my-lg-4">
    <h2 class="display-5 text-center pt-xxl-2">Choose Your Meal</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-2 gy-5 pb-xl-3">
      <!-- Fast Food Randomizer-->
      <div class="col">
        <div class="card-hover card-lifted position-relative mx-auto" style="max-width: 416px">
          <h3 class="h5 text-center mb-0"><a class="stretched-link" href="{{url_for('mealchooser')}}">Fast Food</a></h3>
          <div class="card-lifted overflow-hidden rounded-5 mb-3"><img class="d-dark-mode-none" src="/static/images/site assets/hamburger.jpg" alt="Mobile App Showcase"><img class="d-none d-dark-mode-block" alt="Mobile App Showcase"></div>
          
        </div>
      </div>
      <!-- Recepie Randomizer-->
      <div class="col">
        <div class="card-hover card-lifted position-relative mx-auto" style="max-width: 416px;">
          <h3 class="h5 text-center mb-0"><a class="stretched-link" href="{{url_for('homecook')}}">Home Cook</a></h3>
          <div class="card-lifted overflow-hidden rounded-5 mb-3"><img class="d-dark-mode-none" src="/static/images/site assets/home cook.jpg" alt="SaaS v.1"><img class="d-none d-dark-mode-block" alt="SaaS v.1"></div>
          
        </div>
      </div>

<!--
Zip code input
<form action="/" method="POST">
  <div class="input-group mb-3 mt-5">
    <span class="input-group-text" id="inputGroup-sizing-default">Zip Code</span>
      <input type="text" class="form-control" name="zip_code" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  </div>
  <h1 class="zip">Your Zip Code is: {{ zipCode }}</h1>
</form>
-->
{% endblock content %}

