{% extends "layout.html" %}
{% block content %}
<div class="coupon">
    <div class="container">
      <h3>Company Logo</h3>
          <img src="/static/images/Burger King.jpg" alt="McDonalds" width="500px" height="600px">
          
          
    <div class="container" style="background-color:rgb(57, 15, 15)">
      <h2><b>20% OFF YOUR PURCHASE</b></h2> 
    </div>
    <div class="container">
      <p>Use Promo Code: <span class="promo">BOH232</span></p>
      <p class="expire">Expires: Jan 03, 2021</p>
    </div>
  </div>
  
{% endblock content %}