{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method='POST' action="">
            {{ form.hidden_tag() }}   <!-- added for cibersecurity -->
            <fieldset class="form-group">  <!-- layout for the form -->
                <legend class="border-bottom mb-4">Reset Password</legend>                
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}          <!-- Returning what went wrong on email -->
                        {{ form.email(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control") }}
                    {% endif %}    
                    
                </div>
 
          </fieldset>
            <div class="form-group">       <!-- Submit Button -->         
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}